html, body  {
	margin: 0;
	overflow: hidden;
	overscroll-behavior: none;
}
@media screen and (orientation: portrait) {
	body {
		display: block;
	}
}
@media screen and (orientation: landscape) {
	body {
		display: none;
	}
}

div {
	box-sizing: border-box;
}

#foto {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100vw;
	height: 100vh;
	border: 2px solid black;
	overflow-y: scroll;
	z-index: 99999;
	display: none;

	img {
		width: 100%;
		height: auto;
		max-width: 100%;
	}
}

#canvas {
	background-color: aquamarine;
	display: flex;
	position: relative;
	height: 100vh;
	overflow: hidden;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;
	overscroll-behavior: none;
	scrollbar-width: none;
}

#quadro {
	position: fixed;
	width: calc(100vw - 60px);
	margin: calc(90px + env(safe-area-inset-top)) 30px 0;
	border: 2px solid black;
	padding: 20px;
	background-color: white;
	color: black;
	z-index: 3;
	display: none;
}

#dex {
	position: fixed;
	width: calc(100vw - 60px);
	margin: calc(90px + env(safe-area-inset-top)) 30px 0;
	border: 2px solid black;
	padding: 20px;
	background-color: white;
	color: black;
	z-index: 2;
	display: none;

	.list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 10px;
		margin-bottom: 10px;

		> div {
			border: 1px solid gray;
			border-radius: 8px;
			padding: 14px;
			display: flex;
			justify-content: center;
		}

		.char {
			position: relative;
			opacity: 0.2;

			&.showed {
				opacity: 1;
			}
		}
	}

	.details {
		display: none;
		flex-direction: column;
		align-items: center;

		.name {
			width: 100%;
			text-align: center;
			font-size: 24px;
		}

		.char {
			position: relative;
			transform: scale(4);
			transform-origin: center;
			margin: 50px 0;
		}

		.rules {
			width: 100%;
			padding: 20px 0;
		}
	}

	#back_dex {
		display: none;
	}
}

#info_bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	gap: 10px;
	border-radius: 8px;
	padding: 10px;
	padding-top: max(10px, env(safe-area-inset-top));
	z-index: 2;

	div {
		border-radius: 8px;
		padding: 10px;
		display: flex;
		align-items: center;
	}
	
	#coins {
		border: 2px solid goldenrod;
		background-color: gold;
		width: 100px;
		opacity: 0;
	}
	
	#dex_bt {
		border: 2px solid blue;
		background-color: lightblue;
		opacity: 0;
	}

	#clock {
		border: 2px solid green;
		background-color: lightgreen;
	}
	
	#godmode {
		border: 2px solid grey;
		background-color: white;
	}
	
	#reset {
		border: 2px solid red;
		background-color: lightpink;
		color: red;
	}
}

#stage {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	z-index: 1;

	#sky {
		position: fixed;
		width: 100%;
		height: 100%;
		transition: background-color 1s ease-in-out;
		z-index: 1;
	}

	#street {
		position: relative;
		background: grey;
		height: 100px;
		border-top: 3px solid black;
		z-index: 2;
	}

	#hotel {
		position: relative;
		min-height: 100px;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		z-index: 3;

		.porta {
			position: absolute;
			bottom: 0;
			right: 20px;
			height: 50px;
			width: 30px;
			background-color: darkslategrey;
			border-right: 3px solid black;
		}

		#recepcao {
			background: lightgray;
			width: 280px;
			height: 120px;
			border: 3px solid grey;
			border-bottom: none;
			position: relative;

			.gerente {
				position: absolute;
				bottom: 0;
				left: 15px;
				height: 30px;
				width: 30px;
				border-radius: 30px;
				border: 3px solid white;
				background-color: rgb(62, 173, 173);
			}
		
			p {
				text-align: center;
				font-size: 24px;
				color: grey;
			}
		
			.porta {
				right: 60px;
			}

			#escada {
				position: absolute;
				bottom: -20px;
				left: 150px;
				width: 20px;
				height: 20px;
				background-color: brown;
			}

			#checkin {
				position: absolute;
				top: 10px;
				left: -20px;
				width: 320px;
				display: none;
		
				&.active {
					display: block;
				}
			
				button {
					margin: 20px auto;
					padding: 10px;
				}
		
				#checkin_bt {
					background-color: lightgreen;
					border: 2px solid green;
				}
		
				#denied_bt {
					background-color: lightcoral;
					border: 2px solid red;
				}
			}

			#checkout_bt {
				position: absolute;
				top: 10px;
				right: -10px;
				margin: 20px auto;
				padding: 10px;
				display: none;
				background-color: lightblue;
				border: 2px solid blue;
				z-index: 1;
		
				&.active {
					display: block;
				}
			}
		}

		.andar {
			background: lightgray;
			width: 200px;
			height: 100px;
			border: 3px solid grey;
			border-bottom: none;
			position: relative;
			text-align: center;
		
			p {
				margin-top: 10px;
				text-align: center;
				font-size: 18px;
				color: grey;
			}
		
			&.fudido {
				background: none;
				border-top: none;
		
				.sujeira {
					position: absolute;
					height: 20px;
					width: 20px;
					background-color: gray;
					bottom: 0px;
					transform-origin: bottom;
				}
		
				button {
					margin: 20px auto;
					display: none;
				}
			}
		}
	}

	#stars {
		flex-grow: 1;
		min-height: 100px;
		z-index: 4;

		/* height: 3000px; */
	}

	#chars {
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 5;
	}
}

.char {
	position: absolute;
	height: 30px;
	width: 30px;
	pointer-events: auto;
	border-radius: 30px;
	z-index: 1;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color, border 0.5s ease-in-out;

	&.locked {
		border: 3px solid black;
		background-color: grey;
		content: '🔒';
	}

	&.clown {
		border: 3px solid red;
		background-color: white;
	}
	&.dinosaur {
		border: 3px solid darkgreen;
		background-color: olive;
	}
	&.ghost {
		border: 3px solid lightgray;
		background-color: white;
	}
	&.lord {
		border: 3px solid purple;
		background-color: black;
	}
}